# temporary folders & files
placeholder/
tmp/
test-image/
/*.txt

# senstive files
.env

# unneeded files
.git/
img/
Old_Dockerfile
.editorconfig
.gitignore
.env.example
air.toml
README.md
hoppscotch-workspace.json
